:root {

    /* --ion-background-color: white; */
    --ion-tab-bar-color: rgb(251, 251, 251);
    --ion-tab-bar-color-selected: rgb(153, 153, 153);
}

ion-tab-bar {

    --background: rgb(124, 124, 124);
    box-shadow: 10px 10px 6px rgba(3, 96, 255, 0.4);
    border-radius: 50px !important;

    height: 50px;
    width: 60%;
    padding: 5px 10px;

    bottom: 20px;
    position: relative;
    margin: 0 auto !important;
    border-top: none;
}

ion-tab-button {

    border-radius: 16px !important;
}